@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: black;
    background-image: url("front-page.jpg");

    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.menu-bar{
    background: rgb(0, 0, 0);
    text-align: center;


}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width:120px;
    margin: 15px;
    padding: 15px;

}
.menu-bar ul li a{
    text-decoration: none;
    color: #ffffff;
}
.active, .menu-bar ul li:hover{
    background: #FF69B4 ;
    border-radius: 3px;

}
.sub-menu-1{
    display: none;

}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgb(238, 130, 238);
    margin-top: 15px;
    margin-left: -15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display:block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li {
    width: 150px;
    padding: 10px;
    border-bottom:1px dotted #ffffff;
    background: transparent;
    border-radius: 0;
    text-align:left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 ul li:hover{
    color:#FF69B4;
}

.wrapper{
    margin-top: 10%;
}

.wrapper h1{
    font-family: 'Allura', cursive;
    color: #ffffff;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}

.team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
}

.team .team_member{
    background: #fff;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
}

.team .team_member h3{
    color: #81c644;
    font-size: 26px;
    margin-top: 50px;
}

.team .team_member p.role{
    color: #ccc;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
}

.team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
}

.team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
}